.pp1
{
  width: 50%;
  height: 50%;
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 200% !important;
  }
  .pp1
  {
    width: 50%;
    height: 30%;
  }
}
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 150% !important;
    }
  }
