

.but
{
  margin: 2% !important;
  border-radius: 50% !important;
}

.jo
{
  display: flex !important;
  text-align: center;
  background-color: #A8A8A8 !important;
  padding: 0 22%;
  margin: auto;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
